﻿@model SmartJobs.Models.JobSearch
@{
    <!-- Layout = "_Layout"; -->
    ViewData["Title"] = "Index";

    }



<div class="container">
    <h1 class="jumbotron">Upload your resume and search for jobs</h1>
            <!-- Create form for file uploading,
                Job searching,
                and option to manually copy and paste resume
             -->
    <form asp-action="Process" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        
        <!-- Input for Job search -->
        <div class="form-group">
            <label asp-for="query" class="control-label"></label>
            <input type="text" class="form-control" asp-for="query" placeholder="job search or keyword" />
            <span asp-validation-for="query" class="text-danger"></span>
        </div>

        <!-- Input for zip code -->
        <div class="form-group">
            <label asp-for="zipcode" class="control-label"></label>
            <input type="text" class="form-control" asp-for="zipcode" placeholder="zip code" />
            <span asp-validation-for="zipcode" class="text-danger"></span>
        </div>

        
        <div class="form-group">
            <p class="text-danger">@TempData["Error"]</p>
            <label>Upload resume</label>
            <input type="file" class="form-control" name="resume" />
        </div>
        
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>

        <hr />

    </form>

</div>


@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


