﻿
@model LearningRecommendations

@{
    ViewData["Title"] = "Learning Recommendations";
}

<div class="container-fluid">
    <div class="jumbotron">
        <h1>Learning Recommendations</h1>
    </div>
    <!-- Create an anchor tag to take you to the bottom of the page. -->
    <h1>Learning Recommendations from the web.</h1><br />
    Scroll down for results from Udemy<a href="#toUdemy"> (or click here)</a> 
    <hr />
    <div class="mainContainer">
        @if(Model.YouTubeVideos == null)
        {
            <div class="gridRow">
                <h2>Youtube services are down....</h2>
            </div>
        }
        else
        {
            @foreach (var video in Model.YouTubeVideos)
                    {
                        <div class="gridRow">
                            <a href="@String.Format("https://youtube.com/watch?v={0}",video.VideoId)">
                                <img style="width: 246px;height:170px; " class="contentAlignLeft" src="@video.ThumbNailUrl" />
                                <h2>@Html.DisplayFor(item => video.Title)</h2>
                                <div class="contentAlignRight">
                                    Date Published: @video.DatePublished.ToString("MM/dd/yyyy")
                                </div>
                                <h3>@Html.DisplayFor(item => video.ChannelName)</h3>
                                <p>@Html.DisplayFor(item => video.Description)</p>
                            </a>
                        </div>
                    }
        }
        
    </div>
    <h1 id="toUdemy">Learning Recommendations from Udemy</h1>
    <hr />
    <div class="mainContainer">
       
        @if(Model.UdemyCourses == null)
        {
        <div class="gridRow">
            <p>Udemy api service is down</p>
        </div>
           
        }
        else
        {
            @foreach(var video in Model.UdemyCourses)
            {
                <div class="gridRow">
                    <a href="@String.Format("https://udemy.com{0}",video.CourseUrl)">
                        <img style="width: 246px; height: 170px;" class="contentAlignLeft" src="@video.CourseImageUrl" />
                        <h2>@Html.DisplayFor(item => video.CourseTitle)</h2>
                        <p>@Html.DisplayFor(item => video.CoursePrice)</p>
                        <p>Instructors</p>
                        @foreach (var instructor in video.CourseInstructors)
                        {
                            <div style="display: inline-block">
                                <a href="@String.Format("https://udemy.com{0}",instructor.url)">@Html.DisplayFor(item => instructor.display_name)</a>
                            </div>

                        }

                    </a>
                </div>
            }
        }

    </div>

</div>


