@model List<Job>

@{ 
    ViewData["Title"] = "Results for " + ViewData["query"];
}

<!-- Test page to verify data is getting passed.-->
<div class="container-fluid">

    <a style="font-size:24pt"asp-controller="Home" class="btn-dark">New Job Search</a>
    <div class="row">
        <div class="col-md-5 col-sm-5">
            @ViewData["query"]
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-sm-5">
            @ViewData["zipcode"]
        </div>
    </div>
    <h1>Results for @ViewData["query"]</h1>
    <!-- The results for the search are inside this div tag -->
    <div class="mainContainer">
        @foreach (var job in Model)
        {
        <div class="gridRow">
            <h3>@Html.DisplayFor(item => job.Title)</h3>
            <p>@Html.DisplayFor(item => job.Description)</p>

            <p>Matching keywords and skills</p>
            <div class="matchingKeywordGrid">
                @if(job.Matching_keywords.Count < 1)
                {
                    <p>Could not find any matching keywords or skills from your resume for this job</p>
                }
                @foreach (var keyword in job.Matching_keywords)
                {
                    <div>@Html.DisplayFor(item => keyword)</div>
                }
            </div>


            @if (job.Missing_keywords.Count < 1)
            {
                <p style="font-size:16pt;font-style:bold">Congratulations you don't have any missing keywords or skills for this job!</p>
            }
            @if (job.Missing_keywords.Count > 0)
            {
                <p>You are missing these keywords and skills in your resume Please study or learn about these keywords before including them</p>
                <br>
                <p>Click on one of the red boxes to learn more about it!</p>

            }
            <div class="missingKeywordGrid">
                @foreach (var keyword in job.Missing_keywords)
                {
                    
                <a asp-controller="Home" asp-action="LearningRecommendations" asp-route-keyword="@keyword" style="color:#000000"><div class="missingKeyWordItem">@Html.DisplayFor(item => keyword)</div></a>
                    
                }
            </div>
            <a class="applyBtnStyle" href="@job.JobUrl">Apply To This Job</a>
        </div>
        }
    </div>

    <!-- test button to delete the resume and rerturn to home page. -->

</div>
