/* Stylesheet used for the output page */

p {
    font-family: Arial, Helvetica, sans-serif;
}

.mainContainer {
    /* border-style: solid; */
    display: grid;
    grid-gap: 20px;
    /* background-color: rgb(0, 245, 73); */
    padding: 10px;
}

.gridRow {
    display: inline-block;
    padding: 0.75rem;
    background-color: #f6f6f6;
    border-radius: 25px;
    border-style: solid;
}

.mainContainer div.gridRow:hover {
    border-left-style: solid;
    border-color: #ff5a1f;
    background-color: #f2ff43;
}

.matchingKeywordGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 30%;
}

    .matchingKeywordGrid > div {
        font-family: Arial, Helvetica, sans-serif;
        border-style: solid;
        border-color: green;
        background-color: rgb(122, 221, 138);
        text-align: center;
        padding: 5px;
        padding-right: 10px 0;
        font-size: 12pt;
        border-radius: 15px;
    }

.missingKeywordGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 30%;
}


.missingKeyWordItem {
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: red;
    background-color: #fd5555;
    text-align: center;
    padding: 5px;
    font-size: 12pt;
    border-radius: 15px;
}

.gridRow div.missingKeyWordItem:hover{
    background-color: #970000;
    color:#f6f6f6;

}

.applyBtnStyle {
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    color: #000000;
    border-color: #0700C3;
    background-color: #339cf1;
    text-align: center;
    padding: 5px;
    font-size: 20pt;
    border-radius: 15px;
    text-decoration: none;
}

a.applyBtnStyle:hover {
    border-color: #0004ff;
    background-color: #0700C3;
    color: white;
    text-decoration: none;
}

.contentAlignLeft {
    float: left;
}

div.contentAlignRight {
    position: relative;
    font-size: 12pt;
}

